{{ define "main" }}

{{ .Content }}

{{/* Intro summary section */}}

{{ if or .Site.Params.homeIntroTitle .Site.Params.homeIntroContent }}
<div class="intro">
    {{ with .Site.Params.homeIntroTitle }}
    <h1>{{ . }}</h1>
    {{ end }}

    {{ with .Site.Params.homeIntroContent }}
    <div class="single-content">
        <p>{{ . | markdownify }}</p>
    </div>
    {{ end }}
</div>
{{ end }}

{{/* Social Icons */}}

{{ with site.Params.social }}
<div class="social-icons">
    {{- range . }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank"
        rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
</div>
{{ end }}

<!-- Support multi collection-->
{{/* Collection Section */}}
{{ if .Site.Params.showhomeCollection }}
<hr>
<div class="list-container">
    {{ range .Site.Params.homeCollection }}
        <h2>{{ .title }}</h2>
        {{ $pages := where $.Site.RegularPages "Section" .section }}
        {{ $maxContent := $.Site.Params.maxContent | default 10 }}
        {{ $sortedPages := sort $pages "Date" "desc" }}

        {{ range first $maxContent $sortedPages }}
            {{ partial "post-entry.html" . }}
        {{ end }}

        {{ if not (gt (len $sortedPages) 0) }}
            <p>No posts available for this collection.</p>
        {{ end }}
    {{ end }}
</div>

{{ else }}

{{ end }}

{{ end }}