{{ define "main" }}

<!-- Breadcrumbs -->
{{ if not .IsHome }}
{{ partial "breadcrumbs.html" . }}
{{ end }}

<div {{ if .Param "autonumber" }} class="autonumber" {{ end }}>

  <div class="single-intro-container">

    <!-- Title and Summary -->
    <h1 class="single-title">{{ .Title }}</h1>
    {{ with .Param "summary" }}
    <p class="single-summary">{{ . | markdownify }}</p>
    {{ end }}

    <!-- Post Meta -->
    <p class="single-readtime">
      <!-- Post Date -->
      {{ with .Date }}
      {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := . | time.Format (default ":date_long" $.Site.Params.singleDateFormat) }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      {{end}}

      <!-- Post Reading Time -->
      {{ if .Param "readTime" }}
      &nbsp; · &nbsp;
      {{ .ReadingTime }} min read
      {{end }}

      <!-- Post Tags -->
      {{ if .Param "showTags" }}
      &nbsp; · &nbsp;
      
      <span class="single-tags">
        {{ $taxonomy := "tags" }}
        {{ with .Param $taxonomy }}

        {{ range $index, $tag := . }}
        {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}

        <a href="{{ .RelPermalink }}">
          #{{ .LinkTitle }}
        </a>
      
        {{ end }}
        {{ end }}
      </span>

    {{ end }}
    {{ end }}
    </p>
  </div>

  <!-- Table of Content -->
  {{ if .Param "toc" }}
  <aside class="toc">
    <p><strong>Table of contents</strong></p>
    {{ .TableOfContents }}
  </aside>
  {{ end }}

  <!-- Page Content -->
  <div class="single-content">
    {{ .Content }}
    {{ if .Site.Params.giscus.enable }}
    {{ partial "comments.html" . }}
    {{ end }}
  </div>

  {{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
  {{ end }}

  <!-- Page Navigation Controls -->
  {{ if not (.Param "hidePagination") }}
  {{ partial "pagination-single.html" . }}
  {{ end }}

  <!-- Back to Top -->
  {{ if not (.Param "hideBackToTop") }}
  <div class="back-to-top">
    <a href="#top">
      ↑ Back to top
    </a>
  </div>
  {{ end }}

</div>

{{ end }}
