:root {
    --content-primary: rgb(36, 36, 36);
    --content-secondary: rgb(117, 117, 117);
    --background: rgb(255, 255, 251);
    --code-background: rgb(40, 42, 54);
    --code-border: rgb(50, 50, 50);
    --code-text: rgb(248, 248, 242);
    --link-text: rgb(32, 96, 79);
}

.dark {
    --content-primary: rgb(218, 218, 218);
    --content-secondary: rgb(140, 140, 140);
    --background: rgb(20, 20, 20);
    --code-background: rgb(40, 42, 54);
    --code-border: rgb(50, 50, 50);
    --code-text: rgb(248, 248, 242);
}